<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.datasource">
			java:comp/env/jdbc/LocalProbeDB
		</property>

		<mapping resource="de/hzg/values/RawData.hbm.xml" />
		<mapping resource="de/hzg/values/CalculatedData.hbm.xml" />

		<mapping resource="de/hzg/measurement/Probe.hbm.xml" />
		<mapping resource="de/hzg/measurement/SensorDescription.hbm.xml" />
		<mapping resource="de/hzg/measurement/SensorInstance.hbm.xml" />
	</session-factory>
</hibernate-configuration>