<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
<!--
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/hibernatetutorial</property>
		<property name="hibernate.connection.username">hibernate</property>
		<property name="hibernate.connection.password">hibernate</property>
		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
		<property name="current_session_context_class">thread</property>
-->
		<property name="hibernate.connection.datasource">
			java:comp/env/jdbc/LocalProbeDB
		</property>

		<mapping resource="de/hzg/sensors/Probe.hbm.xml" />
		<mapping resource="de/hzg/sensors/SensorDescription.hbm.xml" />
		<mapping resource="de/hzg/sensors/SensorInstance.hbm.xml" />
	</session-factory>
</hibernate-configuration>